body {
  background-color: #111;
  color: white;
}

input {
  margin-left: 1em;
}

.container {
  width: 90rem;
}

.cont {
  background-color: #0275d8;
  color: black;
  margin: 0 auto;
  padding: 1rem;
  width: 50rem;
  border-radius: 5px;
}

.toptext {
  color: white;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.nextBTN {
  float:right;
  position: relative;
  bottom: 2em;
}

.likert {
  float: left;
}

.nav {
  margin: 3em 0 0 0;
}

.card-title {
  margin: 0 auto 3rem auto;
  text-align: center;
}

.card-body {
  background-color: white;
  padding: 2em 4em;
  border-radius: 5px;
}

.card-body ul {
  list-style: none;
}

.indented {
  padding: 1em 0 1em .8rem;
}

.card-img-top {
  max-width: 18em;
}

.tastemap {
  margin: 1em 0 2em 0;
}

.expl {
  font-style: italic;
}

.toptext {
  width: 40rem;
  margin: 1em auto;
  color: black;
  font-size: 1.2em;
  background-color: white;
  border-radius: 5px;
}

h5 {
  font-size: 1em;
  font-weight: 700;
}

h4 {
  font-size: 1.2em;
}

#debugging {
  position: fixed;
}

#search {
  width: 50%;
  margin: 1em auto;
}

.results {
  width: 95%;
  margin: 1em auto;
}

.thumb {
  max-width: 3em;
}

.txtresult {
  margin-left: .70em;
  font-size: 1.1em;
}

.list-group-item {
  padding: .5rem .75rem;
  height: 5em;
}

.right {
  float: right;
  max-height: 3.5em;
}

@media only screen and (max-width: 900px) {
  .container {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .cont {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .toptext {
    margin: .5em auto;
    width: 98%;
    font-size: 1.2em;
  }
  #search {
    width: 100%;
    margin: 1em 0;
  }
  .results {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 700px) {
  .right {
    display: none;
  }
  .card-body {
    padding: 2em 2em;
  }
  .card-img-top {
    max-width: 14em;
  }
}

@media only screen and (max-width: 630px) {
  .col h5 {
    margin: 1em 0 0 0;
  }
  .card-body {
    padding: 2em 1em;
  }
  .thumb {
    display: none;
  }
  .txtresult {
    margin-left: 0;
  }
  .toptext {
    font-size: 1em;
  }
  .card-img-top {
    max-width: 12em;
  }
}
